/* ===================================================================
 * font.css
 *
 * ------------------------------------------------------------------- */

/*
 * Diavolo Font (USed for Main Title)
================================================================================ */
@font-face {
  src: url(../font/DIAVOLO-Regular.otf);
  font-family: diavolo;
  font-style: normal;
  font-weight: normal;
}

/*
 * Diavlo Font (USed for Title)
================================================================================ */
@font-face {
  src: url(../font/Diavlo_LIGHT_II.otf);
  font-family: diavlo_light;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(../font/Diavlo_BOLD_II.otf);
  font-family: diavlo_bold;
  font-style: normal;
  font-weight: normal;
}

/*
 * Sansation (USed for Subtitle)
================================================================================ */
@font-face {
  src: url(../font/Sansation_Light.ttf);
  font-family: Sansation_Light;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(../font/Sansation_Regular.ttf);
  font-family: Sansation_Regular;
  font-style: normal;
  font-weight: normal;
}



@font-face {
  src: url(../font/Sansation_Bold.ttf);
  font-family: Sansation_Bold;
  font-style: normal;
  font-weight: normal;
}