/* ===================================================================
 *
 *  Social Aves Main Stylesheet
 *  11-14-2019
 *  ------------------------------------------------------------------


/* ===================================================================
 * # imports
 *
 * ------------------------------------------------------------------- */
@import url("font.css");

* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    top: 0;
    font-family: Sansation_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: .95rem;
    line-height: 1.765;
    /*background-color: #fff;*/
    animation: startAnimation 1s;
    -webkit-animation: startAnimation 1s;
}

@keyframes startAnimation {
    0% {
        opacity: 0;
    }

    50% {
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes startAnimation {
    0% {
        opacity: 0;
    }

    50% {
    }

    100% {
        opacity: 1;
    }
}

section {
    padding: 80px 0;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .1);
}

/* -------------------------------------------------------------------
 * ## links
 * ------------------------------------------------------------------- */

a {
    color: #187A77;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #C72128;
}

a:hover, a:focus, a:active {
    outline: 0;
}

/* -------------------------------------------------------------------
 * ## pre-loader
 * ------------------------------------------------------------------- */
/* -------------------------------------------------------------------
 * ## pace.js styles - minimal
 * ------------------------------------------------------------------- */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #C72128;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

#preloader {
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 9998;
}

#status {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

@media only screen and (max-width: 580px) {
    #status {
        font-size: 1.1em;
    }
}

/* -------------------------------------------------------------------
 * #general theme styles
 * ------------------------------------------------------------------- */
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #C72128;
}

::selection {
    color: #fff;
    background: #C72128;
}

h1, h2, h3, h4, h5, h6 {
    font-family: diavlo_bold;
}

p {
    font-family: Sansation_Regular;
    /*color: #6b6b6b;*/
    font-size: .95rem;
}

.bg-light-grey {
    background-color: #f6f6f6;
}

.bg-light {
    background-color: #f6f6f6;
}

.bgdark {
    background-color: #000;
}

.color-teal {
    color: #187A77;
}

.bg-soft-teal {
    background-color: #DEF2EB;
}

.bg-dark-teal {
    background-color: #D0EDE2;
}

.color-red {
    color: #C72128;
}

.bg-red {
    background-color: #C72128;
}

.size-17 {
    font-size: 17px;
}

.size-14 {
    font-size: 14px;
}

.bt {
    border-top: 1px solid #f6f6f6;
}

.bl {
    border-left: 5px solid #f6f6f6;
}

.bb {
    border-bottom: 1px solid #f6f6f6;
}

.marquee {
    margin: 0;
    padding-top: 28px;
    line-height: 190px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: Sansation_Bold;
    width: 100%;
    text-transform: uppercase;
    color: #DEF2EB;
    opacity: 0.9;
    z-index: 0;
}

/* -------------------------------------------------------------------
 * ## Popover
 * ------------------------------------------------------------------- */

.popover {
    font-family: Sansation_Regular;
}

/* -------------------------------------------------------------------
 * ## Header Navigation
 * ------------------------------------------------------------------- */

.header-nav {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 50;
}

@media only screen and (max-width: 980px) {
    .header-nav {
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 16px 0 rgba(0, 0, 0, 0.19) !important;
    }
}

.header-logo {
    position: absolute;
    top: 40px;
    left: 70px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 980px) {
    .header-logo {
        top: 15px;
        left: 30px;
    }
}

.hire {
    position: absolute;
    top: 47px;
    right: 190px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-text {
    position: absolute;
    top: 52px;
    right: 126px;
    font-family: Sansation_Bold;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.open-menu {
    position: fixed;
    top: 40px;
    right: 70px;
    width: 48px;
    height: 48px;
    padding: 10px 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.open-menu:hover {
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 980px) {
    .open-menu {
        top: 15px;
        right: 30px;
    }

    .hire {
        display: none;
    }

    .menu-text {
        display: none;
    }
}

.open-menu.opaque {
    background-color: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.close-menu {
    position: fixed;
    width: 30px;
    top: 46px;
    right: 79px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.open-menu,
.close-menu,
.go-top {
    cursor: pointer;
    transition: transform 0.30s;
}

@media only screen and (max-width: 980px) {
    .close-menu {
        top: 22px;
        right: 38px;
    }
}

@media only screen and (max-width: 980px) {
    .open-menu.opaque {
        background-color: #fff;
    }
}

/* -------------------------------------------------------------------
 * ## Banner Content
 * ------------------------------------------------------------------- */

.main-header {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.main-header video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
}

.main-header .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 132%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
}

@media only screen and (max-width: 980px) {
    .main-header video {
        width: 100%;
        margin-top: 70px;
        height: auto;
    }
}

.banner-area {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    padding-top: 100px;
    animation: bannerContent 3s;
}

.banner-area p {
    color: #fff;
}

@keyframes bannerContent {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 150%, 0);
        -ms-transform: translate3d(0, 150%, 0);
        transform: translate3d(0, 150%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* Scroll */

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 2.6rem;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    z-index: 4;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* header social */
.header-social {
    list-style: none;
    margin: 0;
    position: absolute;
    left: 70px;
    bottom: 2.6rem;
    z-index: 5;
}

.header-social a {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-social li {
    position: relative;
    padding: .6rem 0;
}

.header-social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.header-social i,
.header-social span {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-social i {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 3px;
    left: 0;
}

.header-social span {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.7rem;
    line-height: 30px;
    top: 0;
    left: 50px;
    padding: 0 15px;
    margin: 3px 0;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.header-social span::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #000000;
    position: absolute;
    top: 50%;
    left: -6px;
    margin-top: -6px;
}

.header-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media only screen and (max-width: 720px) {
    .header-social {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .header-scroll {
    }
}

.timeline {
    position: relative;
    box-sizing: border-box;
    z-index: 3;
}

.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #ffffff5e;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: #c72128;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #c7212847;
}

.timeline ul li:nth-child(even):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: #c72128;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #c7212847;
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: #c72128;
    font-size: 20px;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: #616161;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -110px;
    margin: 0;
    padding: 8px 16px;
    background: #c72128;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #c7212847;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -110px;
    margin: 0;
    padding: 8px 16px;
    background: #c72128;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #c7212847;
}

@media (max-width: 767px) {
    .timeline {
        padding-top: 20px;
    }

    .timeline ul li h3 {
        font-size: 15px;
    }

    .timeline ul li p {
        font-size: 12px;
    }

    .timeline:before {
        top: -18px;
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/* -------------------------------------------------------------------
 * ## MENU
 * ------------------------------------------------------------------- */

.nav-overlay {
    position: fixed;
    /*background: rgba(255, 255, 255);*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(left, #fff 20px, transparent 1%) center, -webkit-linear-gradient(#fff 20px, transparent 1%) center, #e4e4e4;
    background: linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, #e4e4e4;
    background-size: 22px 22px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .50s, visibility .50s, height .50s;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
}

.nav-overlay.open {
    opacity: 1;
    visibility: visible;
    /*height: 100%;*/;
}

.main-body.open {
    visibility: visible;
    overflow: hidden;
}

.overlay-menu {
    /*font-family: diavlo_bold;
    position: relative;
    top: 15%;
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;*/
    padding-left: 54px;
    padding-right: 54px;
    margin-top: 150px;
}

.menu-title {
    color: #C72128;
    font-family: Sansation_Regular;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contact-info p {
    line-height: 22px;
}

.menu {
    font-family: diavlo_bold;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0px;
    line-height: 44px;
}

@media only screen and (max-width: 500px) {
    .menu {
        font-size: 20px;
    }
}

.menu ul {
    list-style: none;
    display: inline-block;
}

.menu ul li {
    display: block;
    margin-bottom: 20px;
}

.menu ul li a {
    display: block;
    /*color: #000;*/
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
}

.menu ul li a:hover,
.menu ul li a:focus,
.menu ul li a:active {
    color: #C72128;
}

.menu-social {
    list-style: none;
    font-size: 1.2rem;
    position: relative;
    text-align: left;
}

.menu-social li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 0;
}

.menu-social li a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    overflow: hidden;
}

.menu-social li a:hover,
.menu-social li a:focus {
    color: #C72128;
}

.dropdown {
    text-transform: capitalize;
}

.dropdown-item {
    font-family: Sansation_Regular;
    padding: .1rem 1.5rem;
    color: #212529;
}

/* -------------------------------------------------------------------
 * ## Company Information
 * ------------------------------------------------------------------- */
.about_1 {
    border-top: 1px solid #0e0e0e;
}

.about_1 .marquee {
    margin: 0;
    padding-top: 28px;
    line-height: 190px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: Sansation_Bold;
    width: 100%;
    text-transform: uppercase;
    color: #DEF2EB;
    opacity: 0.05;
    z-index: 0;
}

.about_1 .container h1 {
    font-family: Sansation_Light;
    letter-spacing: 0;
    color: #C72128;
    opacity: 1;
}

.about_1 .container p {
    font-family: Sansation_Light;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
}

.about_1 .container h2 {
    font-family: Sansation_Light;
    letter-spacing: 0;
    color: #C72128;
    opacity: 1;
}

.vertical {
    width: 2px;
    height: 50px;
    background-color: #C72128;
    margin-bottom: 70px;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

@media only screen and (max-width: 700px) {
    .about_1 .container h1 {
        font-size: 28px;
    }

    .about_1 .container h2 {
        font-size: 24px;
    }
}

.brands {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.brands_slider_container {
    height: 130px;
    padding-left: 97px;
    padding-right: 97px;
}

.brands_slider {
    height: 100%;
    margin-top: 50px;
}

.brands_item {
    height: 100%;
}

.brands_item img {
    max-width: 100%;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.brands_nav:hover i {
    color: #676767;
}

.brands_prev {
    left: 40px;
}

.brands_next {
    right: 40px;
}

#logo-carousel .item {
    background: #fff;
    padding: 20px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-content: center;
}

#logo-carousel .item img {
    width: 160px;
    height: 160px;
}

/* -------------------------------------------------------------------
 * ## Services Home
 * ------------------------------------------------------------------- */

.service-home .container .section-heading {
    padding: 70px 0;
}

.service-home .container .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

@media only screen and (max-width: 700px) {
    .service-home .container .section-heading h2 {
        font-size: 40px;
    }
}

.service-home .container .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    margin-bottom: 50px;
}

.service-home .container img {
    width: 64px;
    height: 56px;
    opacity: 1;
}

.service-home .media-body:hover h5 {
    color: #17a2b8;
}

.ml-7 {
    margin-left: 67px;
}

/* -------------------------------------------------------------------
 * ## TEAM
 * ------------------------------------------------------------------- */

.team .section-heading {
    padding: 70px 0;
}

.team .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.team .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.container-team {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.container-team .image {
    display: block;
    width: 100%;
    height: auto;
}

.container-team .team-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.container-team:hover .team-overlay {
    opacity: 1;
}

.container-team .team-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.container-team .team-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: diavlo_bold;
}

.container-team .team-content p {
    font-family: Sansation_Light;
    font-size: 15px;
}

.team-describe p {
    font-family: Sansation_Regular;
    color: #187A77;
    font-size: 18px;
    padding: 30px;
    margin-bottom: 0px;
}

.team-details {
    padding: 0 30px 0 30px;
}

.team-details h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: diavlo_bold;
    margin-bottom: 0px;
}

.team-details p {
    font-family: Sansation_Light;
    font-size: 15px;
    margin-bottom: 0px;
}

.team-margin {
    margin-bottom: 100px;
}

.meet-link {
    background-color: #DEF2EB;
    padding: 70px 50px;
}

.meet-link h2 {
    font-family: Sansation_Regular;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.meet-link a {
    font-size: 25px;
}

@media only screen and (max-width: 700px) {
    .team .section-heading h2 {
        font-size: 40px;
    }

    .meet-link a {
        font-size: 16px;
    }

    .meet-link h2 {
        font-size: 16px;
    }
}

/* -------------------------------------------------------------------
 * ## BLOG
 * ------------------------------------------------------------------- */

.blog .section-heading {
    padding: 70px 0;
}

.blog .container .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.blog .container .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.blog .container .card {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, .125);
    min-height: 95%;
}

.blog .container .card:hover {
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.blog .container .card:hover h4 {
    color: #17a2b8;
}

.blog .container .card .card-img-top {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.blog .container .card h4 {
    font-family: diavlo_bold;
    font-size: 20px;
    line-height: 27px;
}

.blog .container .card p {
    font-family: Sansation_Regular;
    font-size: 16px;
}

.blog .container .card a {
    font-family: Sansation_Bold;
    font-size: 15px;
    text-decoration: none;
    color: #187A77;
}

.blog .container .card a:hover {
    text-decoration: underline;
    color: #C72128;
}

@media only screen and (max-width: 700px) {
    .blog .container .section-heading h2 {
        font-size: 40px;
    }
}

/* -------------------------------------------------------------------
 * ## CLIENT SAYS
 * ------------------------------------------------------------------- */

.client .section-heading {
    padding: 70px 0;
}

.client .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    .client .section-heading h2 {
        font-size: 40px;
    }
}

.client .profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD;
}

.client .owl-carousel .owl-nav button.owl-next,
.client .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #C72128 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important;
}

.client .owl-carousel .owl-nav button.owl-next:hover,
.client .owl-carousel .owl-nav button.owl-prev:hover {
    color: #187A77 !important;
    background-color: transparent !important;
}

.client .owl-dots {
    display: none;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.client .item {
    display: none;
}

.client .next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.2;
}

.client .prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.2;
}

.client .item.show {
    display: block;
    transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {

    .client .next,
    .client .prev {
        transform: scale(1);
        opacity: 1;
    }

    .client .item {
        display: block !important;
    }
}

#logo-carousel .owl-dot {
    display: none;
}

/* -------------------------------------------------------------------
 * ## Footer Contact
 * ------------------------------------------------------------------- */
.footer-contact .section-heading {
    padding: 70px 0;
}

.footer-contact .container-fluid .section-heading p {
    font-size: 12px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
}

.footer-contact .container-fluid .section-heading h2 {
    font-family: diavlo_bold;
    font-size: 35px;
    color: #000000;
    margin-bottom: 50px;
    opacity: 1;
}

.footer-contact .container-fluid .card {
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px !important;
    border-radius: 0px;
}

@media only screen and (max-width: 990px) {
    .footer-contact .container-fluid .card {
        border-color: #fff;
    }

    .footer-contact .container-fluid .section-heading h2 {
        font-size: 25px;
    }
}

.footer-contact .container-fluid .card .card-body .location {
    width: 78px;
    height: 78px;
}

.footer-contact .container-fluid .card .card-body .email {
    width: 78px;
    height: 78px;
}

.footer-contact .container-fluid .card .card-body .call {
    width: 78px;
    height: 78px;
}

.footer-contact .container-fluid .card .card-body h4 {
    font-family: diavlo_bold;
    font-size: 22px;
}

.footer-contact .container-fluid .card .card-body .big {
    font-family: diavlo_bold;
    color: #C72128;
    font-size: 20px;
}

.footer-contact a {
    color: #187A77;
}

.footer-contact a:hover {
    color: #C72128;
}

.footer-social {
    list-style: none;
    font-size: 1rem;
    display: block;
    line-height: 0px;
}

.footer-social li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 0;
    line-height: 0px;
}

.footer-social li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer-social li a:hover,
.footer-social li a:focus {
    color: #C72128;
}

/* -------------------------------------------------------------------
 * ## Footer
 * ------------------------------------------------------------------- */

.footer {
    padding: 70px;
}

.footer p {
    font-family: Sansation_Light;
    font-size: 15px;
    color: #A4A4A4;
}

/* -------------------------------------------------------------------
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 3;
    display: none;
}

.go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    background: #c721286b;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go-top a i, .go-top a:visited i {
    font-size: 18px;
    line-height: inherit;
}

.go-top a:hover, .go-top a:focus {
    color: #FFFFFF;
    background-color: #C72128;
}

/* -------------------------------------------------------------------
 * ## CONTACT US PAGE
 * ------------------------------------------------------------------- */

.contact-title .container {
    position: relative;
    z-index: 2;
}

.contact-title .marquee-contact {
    margin: 0;
    padding-top: 28px;
    line-height: 190px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: Sansation_Bold;
    width: 100%;
    text-transform: uppercase;
    color: #DEF2EB;
    opacity: 0.9;
    z-index: 0;
}

.contact-title .section-heading {
    padding: 70px 0;
}

.contact-title .container .section-heading p {
    font-size: 15px;
    letter-spacing: 0;
    padding: 0px 200px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 990px) {
    .contact-title .container .section-heading p {
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 600px) {
    .contact-title .container .section-heading p {
        padding: 0px 20px;
    }
}

.contact-title .container .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-transform: capitalize;
}

.contact .container .card {
    border: 0;
}

.contact .container .card .card-body .location {
    width: 78px;
    height: 78px;
}

.contact .container .card .card-body .email {
    width: 78px;
    height: 78px;
}

.contact .container .card .card-body .call {
    width: 78px;
    height: 78px;
}

.contact .container .card .card-body h4 {
    font-family: diavlo_bold;
    font-size: 22px;
}

.contact .container .card .card-body .big {
    font-family: diavlo_bold;
    color: #C72128;
    font-size: 20px;
}

.contact a {
    color: #187A77;
}

.contact a:hover {
    color: #C72128;
}

.contact-form .form-control {
    border-radius: 2.25rem;
    height: 62px;
    padding: 2rem 1.25rem;
    margin-bottom: 1.25rem;
}

.contact-form form {
    padding: 0;
}

.contact-form h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    font-family: Sansation_Bold;
}

.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 2.25rem;
    padding: 15px;
    background: #C72128;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 15px -5px #C72128;
    box-shadow: 0px 4px 15px -5px #C72128;
}

#map {
    width: 100%;
    height: 400px;;
}

.info-window {
    font-family: Sansation_Regular;
    font-style: normal;
    font-weight: normal;
}

.info-content {
    color: #999;
}

/* -------------------------------------------------------------------
 * ## EROOR PAGE
 * ------------------------------------------------------------------- */
.notfound {
    background-color: white;
    height: 100vh;
    position: relative;
}

.notfound-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound-404 h1 {
    margin: 0;
    font-family: diavolo;
    font-size: 120px;
    color: #C72128;
    font-weight: 900;
}

.notfound-404 h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound-404 p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound-404 a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #C72128;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 0px 4px 15px -5px #C72128;
    box-shadow: 0px 4px 15px -5px #C72128;
}

/* -------------------------------------------------------------------
 * ## Pattern
 * ------------------------------------------------------------------- */

.grey-fill {
    fill: #f6f6f6;
}

.soft-teal-fill {
    fill: #DEF2EB;
}

.pattern-top {
    overflow: hidden;
}

.pattern-down {
    transform: rotate(180deg);
    overflow: hidden;
}

/* -------------------------------------------------------------------
 * ## Button
 * ------------------------------------------------------------------- */
.btn-hire {
    font-family: Sansation_Bold;
    background-color: #C72128;
    border: 1px solid #C72128;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-hire:hover {
    border: 1px solid #C72128;
    background-color: #ffffff00;
    color: #C72128;
    border-radius: 40px;
}

.btn-fill {
    font-family: Sansation_Bold;
    margin-top: 20px;
    background-color: #C72128;
    border: 1px solid #C72128;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 40px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-fill:hover {
    text-decoration: none;
    background-color: #ffffff00;
    border: 1px solid #C72128;
    color: #C72128;
    cursor: pointer;
}

.btn-square {
    font-family: Sansation_Bold;
    /* margin-top: 20px; */
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0px;
    padding: 6px 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-square:hover {
    text-decoration: none;
    background-color: #ffffff00;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    cursor: pointer;
}

.btn-home {
    font-family: Sansation_Bold;
    margin-top: 20px;
    background-color: #00000061;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 40px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-home:hover {
    text-decoration: none;
    background-color: #C72128;
    border: 1px solid #C72128;
    color: #fff;
    cursor: pointer;
}

.btn-contact {
    margin-top: 20px;
    border: 0px solid #DBDBDB;
    background: #A6DEC9;
    color: #222;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 40px;
    padding: 12px 28px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-contact:hover {
    background-color: #C72128;
    border: 0px solid #C72128;
    color: #fff;
    cursor: pointer;
}

/* -------------------------------------------------------------------
 * ## SERVICE PAGE
 * ------------------------------------------------------------------- */

.services-inner h3 {
    font-size: 35px;
}

.services-inner:hover h3 {
    color: #17a2b8;
}

/* -------------------------------------------------------------------
 * ## BLOG PAGE
 * ------------------------------------------------------------------- */
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 576px) {
    .team-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .team-column {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 1300px) {
    .team-column {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* -------------------------------------------------------------------
 * ## BLOG INNER
 * ------------------------------------------------------------------- */
.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.masthead .post-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .masthead .post-heading {
        padding: 200px 0;
    }
}

.masthead .post-heading h2 {
    font-size: 50px;
    font-family: diavlo_bold;
    color: #fff;
}

.masthead .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.masthead .post-heading {
    font-size: 24px;
    margin: 10px 0 30px;
    font-family: diavlo_bold;
}

.masthead .post-heading .meta {
    font-size: 14px;
    font-family: Sansation_Regular;
    padding: 10px;
}

.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .masthead .post-heading h1 {
        font-size: 55px;
    }

    .masthead .post-heading {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: 50px;
}

.post-content p {
    margin-bottom: 30px;
}

.post-content blockquote {
    font-size: 20px;
    margin-bottom: 30px;
}

.post-content h3 {
    font-family: diavlo_bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.post-content h2 {
    font-family: diavlo_bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.post-content img {
    margin-bottom: 30px;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px;
}

.tagcloud a:hover {
    border: 1px solid #000;
    text-decoration: none;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0 60px 0 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 20px;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    font-weight: 400;
    border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
    color: #fff;
    background: black;
}

/* -------------------------------------------------------------------
 * ## TEAM PAGE
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * ## CAREER PAGE
 * ------------------------------------------------------------------- */
.career .container-fluid {
    position: relative;
}

.career .section-heading {
    padding: 70px 0;
}

.career .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.career .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.career .marquee-career {
    margin: 0;
    line-height: 203px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: diavlo_bold;
    width: 100%;
    text-transform: uppercase;
    color: #C62228;
    opacity: 1;
    z-index: 1;
}

.career .img-fluid {
    position: relative;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    object-fit: cover;
    width: 1920px;
    height: 415px;
    z-index: 2;
    margin: 0 auto;
}

.perks .section-heading {
    padding: 70px 0;
}

.perks .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.perks .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-transform: capitalize;
}

.perks .img {
    width: 87px;
    height: auto;
}

.perks h3 {
    font-size: 24px;
    font-family: diavlo_light;
}

.employee-title .display-3 {
    font-family: diavlo_bold;
    margin-bottom: 50px;
    color: #187A77;
}

.employee-title h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #187A77;
}

.employee-title {
    padding: 70px;
}

.employee-story .col-lg-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.employee-detail {
    align-items: center;
    justify-content: center;
}

.employee-detail .display-1 {
    text-align: right;
    font-family: diavlo_bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #D0EDE2;
}

.employee-detail h6 {
    text-align: right;
    color: #187A77;;
}

.employee-description {
    align-items: center;
    justify-content: center;
}

.employee-description h4 {
    font-family: diavlo_bold;
}

@media only screen and (max-width: 990px) {
    .employee-story {
        display: none;
    }
}

/*Vacancy Section*/

.vacancy .section-heading {
    padding: 70px 0;
}

.vacancy .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-transform: capitalize;
}

.vacancy .section-heading p {
    font-size: 14px;
    letter-spacing: 4px;
    color: #187A77;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.vacancy .card {
    min-height: 100%;
}

.vacancy .mb {
    margin-bottom: 31px;
}

.vacancy .card {
    border: 1px solid #D0EDE2;
}

.job-num {
    text-align: center;
}

.job-num h2 {
    font-family: diavlo_bold;
    font-size: 28px;
    background-color: #C72128;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.job-degination h2 {
    font-family: diavlo_bold;
    text-align: center;
    color: #000;
    font-size: 22px;
    margin: 10px 0 5px 0;
}

.job-btn {
    border: 0px;
    border-radius: 0;
    background: #A6DEC9;
    color: #187A77;
    text-transform: uppercase;
    font-size: 20px;
    padding: 12px 28px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.job-btn:hover {
    background: #C72128;
    color: #fff;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 45px;
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #17a2b8;
    border-right: 3px solid #17a2b8;
    transform: rotate(45deg);
    margin: -10px;
    animation: animateArrow 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animateArrow {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.thumb {
    position: relative;
    display: block;
    cursor: pointer;
}

.thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.thumb .title-text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-top: 20px;
}

.thumb .title-text h3 {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    padding: 0;
}

.thumb .title-text .sub-title {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.7);
}

.thumb:hover {
    z-index: 3;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.thumb:hover:after {
    opacity: 1;
    visibility: visible;
}

.thumb:hover .title-text {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.team .row {
    overflow: hidden;
}

.block-1 .owl-nav {
    display: none;
}

.block-1 .owl-dots {
    display: none;
}

/* -------------------------------------------------------------------
 * ## CAREER INNER PAGE
 * ------------------------------------------------------------------- */
.accordion .card {
    margin-bottom: 8px;
    border: 0;
}

.accordion .card-body i {
    margin-right: 10px;
    color: #C72128;
}

.accordion .card-header {
    background: #edf7ff;
    margin-bottom: 5px;
}

.btn-link {
    font-size: 20px;
    color: #17a2b8;
    text-decoration: none;
}

.btn-link:hover {
    color: #1aafaa;
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
}

.accordion .fa {
    margin-right: 0.9rem;
}

/*Upload CV css*/
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 62px;
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 62px;
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 62px;
    padding: 17px 16px;
    line-height: 1.5;
    color: #808890;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 50rem;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "UPLOAD YOUR CV";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 60px;
    padding: 17px 16px;
    line-height: 1.5;
    color: #495057;
    content: "UPLOAD YOUR CV";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 50rem 50rem 0;
}

/* -------------------------------------------------------------------
 * ## PORTFOLIO PAGE
 * ------------------------------------------------------------------- */

.ss-portfolio .container {
    position: relative;
    z-index: 2;
}

.marquee {
    margin: 0;
    padding-top: 28px;
    line-height: 190px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: Sansation_Bold;
    width: 100%;
    text-transform: uppercase;
    color: #DEF2EB;
    opacity: 0.9;
    z-index: 0;
}

.ss-portfolio .section-heading {
    padding: 70px 0;
}

.ss-portfolio .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.ss-portfolio .section-heading p {
    letter-spacing: 0;
    color: #187A77;
    margin-bottom: 50px;
}

/*.isotope_fillter {
  margin-bottom: 50px;
}
.isotope_fillter .gallery_filter {
  text-align: center;
}
.isotope_fillter .gallery_filter li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 20px;
}
.isotope_fillter .gallery_filter li:last-child {
  margin-right: 0px;
}
.isotope_fillter .gallery_filter li a {
  color: #222222;
  transition: all 300ms linear 0s;
  padding: 10px 20px;
    background-color: transparent;
    font-size: 15px;
    text-transform: capitalize;
  border-radius: 50px;
    border: 2px solid transparent;
}
.isotope_fillter .gallery_filter li:hover a, .isotope_fillter .gallery_filter li.active a {
  color: #17a2b8;
  border-color: #17a2b8;
}*/

.gallery_f_inner {
    margin-bottom: -45px;
}

.h_gallery_item {
    display: inline-block;
    margin-bottom: 45px;
}

.h_gallery_item .g_img_item {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}

.h_gallery_item .g_img_item:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: -moz-linear-gradient(0deg, #17a2b8 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #17a2b8 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #17a2b8 0%, #88f3ff 100%);
    position: absolute;
    opacity: 0;
    transition: all 300ms ease;
}

.h_gallery_item .g_img_item .light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 300ms ease;
    opacity: 0;
}

.h_gallery_item .g_item_text {
    text-align: center;
}

.h_gallery_item .g_item_text h5 {
    color: #222;
}

.h_gallery_item .g_item_text p {
    color: #656565;
}

.ss-portfolio a {
    text-decoration: none;
}

.ss-portfolio a:hover h5 {
    text-decoration: none;
    color: #17a2b8;
}

.h_gallery_item:hover .g_img_item:before {
    opacity: .85;
}

.h_gallery_item:hover .g_img_item .light {
    opacity: 1;
}

.more_btn {
    text-align: center;
    margin-top: 80px;
}

/* -------------------------------------------------------------------
 * ## PORTFOLIO INNER PAGE
 * ------------------------------------------------------------------- */
.is-portfolio .container {
    position: relative;
    z-index: 2;
}

.is-portfolio .marquee {
    margin: 0;
    padding-top: 28px;
    line-height: 190px;
    text-align: center;
    position: absolute;
    font-size: 267px;
    font-family: Sansation_Bold;
    width: 100%;
    text-transform: uppercase;
    color: #DEF2EB;
    opacity: 0.9;
    z-index: 0;
}

.is-portfolio .section-heading {
    padding: 70px 0;
}

.is-portfolio .section-heading p {
    font-size: 15px;
    color: #187A77;
    margin-bottom: 50px;
}

.is-portfolio .section-heading h2 {
    font-family: diavlo_bold;
    font-size: 50px;
    color: #000000;
    opacity: 1;
}

.counter-count {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 37px;
    text-align: center;
}

.counter-title {
    font-size: 14px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 550px) {
    .counter-count {
        font-size: 25px;
    }
}

.portfolio-icon {
    width: 38px;
    height: auto;
    margin: 15px;
}

/* -------------------------------------------------------------------
* ## Video Thumbails
* ------------------------------------------------------------------- */

.t-video .img-fluid {
    position: relative;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
    width: 1920px;
    height: 415px;
}

.t-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.video-right h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

@media (max-width: 991px) {
    .video-right {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .video-right h1 {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    .video-right {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.no-padding {
    padding: 0;
}

.ss-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.video-text {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 50px;
    z-index: 10;
}

@media only screen and (max-width: 550px) {
    .video-text {
        bottom: 20px;
    }

    .video-text h4 {
        display: none;
    }
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.testimonial-1 i {
    font-size: 2rem;
    color: #43ab92;
}

.testimonial-1 p {
    font-size: 1.5rem;
}

/* -------------------------------------------------------------------
 * ## SOCIAL MEDIA MARKETING PAGE
 * ------------------------------------------------------------------- */

.socialMedia .section-heading {
    padding: 70px 0;
}

.socialMedia .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.socialMedia .section-heading p {
    letter-spacing: 0;
    color: #187A77;
    margin-bottom: 50px;
}

.didyouKnow {
    padding: 40px 40px;
    border-radius: 45px;
    background: -webkit-linear-gradient(left, #C72128 20px, transparent 1%) center, -webkit-linear-gradient(#C72128 20px, transparent 1%) center, #a01818;
    background: linear-gradient(90deg, #C72128 20px, transparent 1%) center, linear-gradient(#C72128 20px, transparent 1%) center, #a01818;
    background-size: 24px 21px;
}

.didyouKnow h2 {
    text-transform: uppercase;
    color: #fff;
}

.didyouKnow p {
    color: #fff;
    font-family: Sansation_Light;
    font-size: 22px;
}

@media only screen and (max-width: 500px) {
    .didyouKnow .container {
        border-radius: 0px;
    }
}

.socialMediaServices h1 {
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

@media only screen and (max-width: 990px) {
    .socialMedia .img-fluid {
        padding: 20px 0 0 0;
    }
}

.process h1 {
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.process .small-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #C72128;
    position: relative;
    font-family: Sansation_Bold;
    margin-bottom: 5px;
}

.process .small-title .title-line {
    display: inline-block;
    content: "";
    left: 0;
    width: 2.25rem;
    height: 2px;
    background: #C72128;
}

.process .title-text {
    margin-right: .75rem;
    margin-left: .75rem;
}

.process .step {
    cursor: pointer;
}

.process .step h4 {
    font-size: 22px;
}

.process .step:hover h4 {
    color: #17a2b8;
}

.column-m {
    margin-bottom: 30px;
}

.column-theme {
    min-height: 100%;
    padding: 30px;
    background: #edf7ff;
    cursor: pointer;
}

.column-theme h4 {
    font-size: 22px;
}

.column-theme:hover h4 {
    color: #17a2b8;
}

.column-theme:hover {
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.service-box {
    min-height: 100%;
    padding: 30px;
    background: #edf7ff;
    cursor: pointer;
}

.service-box:hover {
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.service-box img {
    min-height: 100%;
    margin-bottom: 20px;
}

.service-box h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.service-box p {
    color: #6b6b6b;
    margin-bottom: 25px;
}

.service-box ul {
    padding: 0;
    margin-bottom: 30px;
    list-style: none;
}

.service-box ul li {
    font-family: Sansation_Bold;
    margin: 1rem 0;
    line-height: 1;
}

a, .fa-star, .service-box:hover h4 {
    color: #17a2b8;
}

/* -------------------------------------------------------------------
 * ## CONTENT MARKETING PAGE
 * ------------------------------------------------------------------- */

.content .section-heading {
    padding: 70px 0;
}

.content .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.content .section-heading p {
    letter-spacing: 0;
    color: #187A77;
    margin-bottom: 50px;
}

.contentService h1 {
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.contentService h4 {
    margin-bottom: 20px;
}

.nav_menu a:hover {
    color: #1aafaa;
}

.nav-link {
    display: block;
    padding: 1rem 1.5rem;
    background-color: #f6f6f6;
    margin-bottom: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1aafaa;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.nav-pills .nav-link h6 {
    margin-bottom: 0px;
}

.gal {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.gal img:hover {
    background-color: #000;
    opacity: 0.5;
}

.gal img {
    background-color: #000;
    width: 100%;
    min-height: 100%;
    margin: 7px 0;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/* -------------------------------------------------------------------
 * ## SEARCH ENGINE MARKETING PAGE
 * ------------------------------------------------------------------- */
h1 {
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

/* -------------------------------------------------------------------
 * ## INFLUENCER MARKETING PAGE
 * ------------------------------------------------------------------- */

.influencer .section-heading {
    padding: 70px 0;
}

.influencer .section-heading h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(#17a2b8, #004850);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(#17a2b8, #004850);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -ms-linear-gradient(#17a2b8, #004850);
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.influencer .section-heading p {
    letter-spacing: 0;
    color: #187A77;
    margin-bottom: 50px;
}

/* -------------------------------------------------------------------
 * ## PAGINATION
 * ------------------------------------------------------------------- */

.ss-pagination .ss-pagination-center {
    text-align: center;
}

.ss-pagination, .ss-pagination .container {
    display: table;
    left: -15px;
    right: -15px;
}

.ss-pagination {
    width: 100%;
    background-color: #f6f6f6;
    padding: 20px 0;
}

.ss-pagination .container .ss-pagination-prev, .ss-pagination .ss-pagination-prev {
    text-align: left;
    padding-left: 0;
}

/*.ss-pagination .container .ss-pagination-next, .ss-pagination .container .ss-pagination-prev, .ss-pagination .ss-pagination-next, .ss-pagination .ss-pagination-prev {
    display: table-cell;
    min-width: 190px;
}*/

.ss-pagination .container .ss-pagination-center, .ss-pagination .ss-pagination-center {
    display: table-cell;
    width: 100%;
}

.ss-pagination .container .ss-pagination-next, .ss-pagination .ss-pagination-next {
    text-align: right;
    padding-right: 0;
}

.ss-pagination .container > a, .ss-pagination > a {
    display: inline-block;
    vertical-align: middle;
    color: #171717;
    text-transform: uppercase;
    font-size: .97rem;
    text-decoration: none;
    padding: 19px;
    transition: opacity .5s;
}

.ss-pagination .container > a:hover, .ss-pagination > a:hover {
    color: #187A77;
    text-decoration: none;
}

.s-typed .text-slider-items {
    display: none;
}

.s-typed p {
    font-size: 52px;
    color: #dcdcdc;
    margin-bottom: 0;
    text-align: center;
    padding: 70px 0;
}

@media only screen and (max-width: 700px) {
    .s-typed p {
        font-size: 32px;
    }
}

@media only screen and (max-width: 700px) {
    .s-typed p {
        font-size: 22px;
    }
}

/*======================================
//--//-->   COUNTER
======================================*/

.counter-box {
    color: #fff;
    text-align: center;
}

.counter-count {
    color: #fff;
}

.counter-num .counter-count {
    font-size: 50px;
    margin-bottom: 15px;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.overlay-mf {
    background-color: #17a2b8;
    opacity: 0.5;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}