
body {
    margin: 0;
    padding: 0;
    top: 0;
}

.form-group label {
    font-size: medium;
    font-family: "Montserrat";
}

.btn {
    font-family: Montserrat;
}

p {
    font-family: Montserrat;

}

b {
    font-family: Montserrat;

}

h2 {
    font-family: Montserrat;

}

h3 {
    font-family: Montserrat;

}

h4 {
    font-family: Montserrat;
}

tr {
    font-family: Montserrat;

}

td {
    font-family: Montserrat;

}

li {
    font-family: Montserrat;

}

a {
    font-family: Montserrat;
}

.alert {
    font-family: Montserrat;

}
